{% block title %}
{{block.super}} - {{tag.name|title}}    <!-- name of tag -->
{% endblock %}

{% block content %}
{% if tag.startup_set.all %}
    <section>
        <h3>Startup{{ tag.startup_set.count|pluralize }}</h3>
        <p>
            Tag is associated with
            {{ tag.startup_set.count }}
            startup{{ tag.startup_set.count|pluralize }}.  
        </p>
        <ul>  
            <!-- {# list of startups related to tag #} -->
            {% for startup in tag.startup_set.all %}
                <li><a href="">
                    {{startup.name}}
                </a></li>
            {% endfor %}
        </ul>
    </section>
{% endif %}
{% if tag.blog_posts.all %}
    <section>
        <h3>Blog Post{{ tag.blog_posts.count|pluralize }}</h3>
        <ul>
            <!-- list of posts related to tag -->
            {% for post in tag.blog_posts.all %}
                <li><a href="">
                    {{post.title|title}}                 {# title is the function to capitalize | look for capfirst#}
                </a></li>
        </ul>
    </section>
{% endif %}
{% if not tag.blog_posts.all and not tag.startup_set.all %}
    <p>This tag is not related to any content.</p>
{% endif %}
{% endblock %}
